<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"  src="/js/WSutils.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">PEDIDOS</a>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Lista de pedidos</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    	{{#orders}}
                    	<tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td><a class="link" href="/Order/{{id}}"> Pedido - {{name}}</a><br></td>
                        </tr>
	                    {{/orders}}
	                	{{^orders}}
	                	<tr>
							<td> No hay pedidos </td>
						</tr>
	                	{{/orders}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6"></div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-success text-uppercase" onclick="goNewOrder()">Nuevo pedido</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>